
body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-image: url(../public/beg.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: grey;
    border: 3px solid black;
    float: left;
    font-size: 44px;
    font-weight: bold;
    line-height: 94px;
    height: 94px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 94px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}
.game-status {
    color: bisque;
    font-size: 30px;
}
.game-item {
    color: bisque;
    font-size: 20px;
}
.game-player {
    color: floralwhite;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: bisque;
}
